.grid__container {
  display: grid;
  margin: auto;
}

.item__container--square {
  position: relative;
}

/* Keeps contains square. */
.item__container--square::before {
  content: "";
  display: block;
  padding-top: 100%;
}
