.grid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

.grid__item--start {
  background-color: green;
}

.grid__item--end {
  background-color: red;
}

.grid__item--explored {
  background-color: lightblue;
}

.grid__item--exploring {
  background-color: blue;
}

.grid__item--wall {
  background-color: gray;
}

.grid__item--path {
  background-color: pink;
}

.item__data {
  display: flex;
}

.item__input {
  display: inline-block;
  width: 50%;
}

.item__coords {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  font-size: 8px;
}

.item__index {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 8px;
}
